body {
  background-color: slategray;
}

/* Styles for login and registration forms */

.user-form {
  width: 40%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 3%;
  background-color: floralwhite;
}

.user-form__form-header {
  text-align: center;
  margin-bottom: 3%;
}

.user-form__submit-button {
  left: 50%;
  margin-top: 3%;
  position: relative;
  transform: translate(-50%, 0);
}

.login-registration-transition-label {
  width: 40%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  background-color: floralwhite;
}

.login-registration-transition-label p {
  margin-bottom: 0px;
  font-size: 18px;
}

/* -------- */
