body {
  background-color: #edeef0;
}

.container {
  background-color: #d5eaf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Styles for login and registration forms */

.user-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 3%;
  background-color: floralwhite;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user-form__form-header {
  font-weight: 350;
  text-align: center;
  margin-bottom: 3%;
}

.user-form__submit-button {
  left: 50%;
  margin-top: 3%;
  position: relative;
  transform: translate(-50%, 0);
}

.login-registration-transition-label {
  width: 40%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  background-color: floralwhite;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-registration-transition-label p {
  margin-bottom: 0px;
  font-size: 18px;
}

.user-form__incorrect-notification {
  z-index: 5;
  width: 40%;
  max-width: 100%;
  padding: .5rem;
  margin-top: 5px;
  margin-bottom: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(220,53,69,.8);
  border-radius: .2rem;
}

/* -------- */
