body {
  background-color: slategray;
}
/* Colors:
   slategray
   rgb(164, 123, 189)
*/

/* Styles for login and registration forms */

.user-form {
  border-radius: 10px;
  margin-top: 15%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 3% 3% 3% 3%;
  background-color: floralwhite;
}

.user-form_form-header {
  text-align: center;
  margin-bottom: 3%;
}

.user-form_submit-button {
  margin-top: 3%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.create-account {
  background-color: floralwhite;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  font-size: 18px;
}

.create-account p {
  margin-bottom: 0px;
}